{
    "token": "",
    "client_id": "",
    "mongo_uri": "",
    "footer_icon_url": "https://media.discordapp.net/attachments/1337166764789727337/1345183146429255700/UNITED_NATIONS_19.png?ex=67c6eaae&is=67c5992e&hm=116a2e970073e64995c5c2b0e76178dfbb2d15188e288f50330a9ca1e73e3a6e&=&format=webp&quality=lossless",
    "win_point_amount": 15,
    "point_roles": [
        {"points": 10, "role_id": "123"}
    ]
}